@font-face {
  font-display: swap;
  font-family: "DM Serif Display";
  font-weight: 400;
  src: url("/fonts/dm-serif-display-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  src:
    url("/fonts/notosans.woff2") format("woff2"),
    url("/fonts/notosans.woff") format("woff");
}

@import "tailwindcss";

@theme {
  --font-serif-display: "DM Serif Display", "sans-serif";
  --font-noto: "Noto Sans", "sans-serif";

  --color-peridot: #eaeeb6;
}
