---
import Envelope from "@images/Envelope.svg";
import User from "@images/User.svg";

const email = "victoria@peridottherapy.com";
const psycTodayLink = "";
---

<div class="flex flex-col place-items-center">
  <h2 class="font-serif-display p-5 text-2xl">Think we could be a good fit?</h2>
  <p class="font-kokoro px-10 py-5 text-gray-400">
    Fill out the form below or email me to set up an introductory call.
  </p>
</div>
<div class="flex flex-col gap-5">
  <div class="inline-flex flex-row items-center gap-3 px-5">
    <Envelope class="size-10" />
    <a
      href=`mailto:${email}`
      class="font-kokoro grow text-xl text-blue-600 underline">{email}</a
    >
  </div>
  <div class="inline-flex flex-row items-center gap-4 px-5">
    <User class="size-10" />
    <span class="font-kokoro grow text-xl"
      ><a
        class="text-blue-600 underline visited:text-purple-600"
        href={psycTodayLink}>Psychology Today Profile</a
      ></span
    >
  </div>
</div>
