<form id="contact-form" class="mx-auto p-5" action="POST">
  <div class="flex w-1/2 flex-col gap-7">
    <div>
      <label class="font-kokoro text-xl" for="full-name">Full Name</label>
      <span
        class="text-gray-700 after:ml-0.5 after:text-red-500 after:content-['*'] ..."
      ></span>
      <br />
      <input
        class="rounded-sm border bg-gray-50 indent-1 shadow-sm focus:border-blue-500"
        type="text"
        id="full-name"
        required
      />
    </div>

    <div>
      <label class="font-kokoro text-xl" for="email">Email</label>
      <span
        class="text-gray-700 after:ml-0.5 after:text-red-500 after:content-['*'] ..."
      ></span>
      <br />
      <input
        type="email"
        class="rounded-sm border bg-gray-50 indent-1 shadow-sm focus:border-blue-500 focus:outline-none"
        id="email"
        autocomplete="email"
        required
      />
    </div>

    <div>
      <label class="font-kokoro text-xl" for="phone-number">Phone Number</label>
      <br />
      <input
        type="tel"
        class="rounded-sm border bg-gray-50 shadow-sm focus:border-blue-500"
        id="phone-number"
      />
    </div>

    <div>
      <label class="font-noto text-xl" for="communication-preference"
        >Communication Preference</label
      >
      <br />
      <select
        id="communication-preference"
        class="rounded-sm border bg-gray-50 p-1 text-sm shadow-sm hover:bg-gray-200 focus:border-blue-500"
      >
        <option selected value="no-preference">No Preference</option>
        <option value="email">Email</option>
        <option value="phone">Phone</option>
      </select>
    </div>

    <div>
      <label class="font-kokoro text-xl" for="note">Comments</label>
      <br />
      <textarea
        class="rounded-sm border bg-gray-50 shadow-sm focus:border-blue-500 focus:ring-blue-500"
        id="note"
        cols="30"
        rows="5"></textarea>
    </div>

    <div>
      <input
        class="font-serif-text rounded-xl border bg-blue-700 px-2 py-1 text-xl text-white shadow-md"
        type="submit"
        value="Submit"
      />
    </div>
  </div>
  <p class="font-kokoro p-5 text-xs">
    CONFIDENTIALITY NOTICE: Communication online is not always the most secure.
    Please continue with caution when sharing sensitive information.
  </p>
</form>
