---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button">;
const { class: className, ...props } = Astro.props;
---

<button
  class:list={[
    className,
    "place-self-end",
    "inline-flex",
    "items-center",
    "justify-center",
    "rounded-lg",
    "hover:bg-gray-200",
    "size-10",
    "p-2",
  ]}
  {...props}
>
  <span class="sr-only">Open main menu</span>
  <svg
    class="size-5"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 17 14"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M1 1h15M1 7h15M1 13h15"></path>
  </svg>
</button>
