---
import type { HTMLAttributes } from "astro/types";
import PeridotHeaderLink from "@components/header/PeridotHeaderLink.astro";

type Props = HTMLAttributes<"nav">;

const { class: className, ...props } = Astro.props;
const links: Record<string, string> = {
  Services: "#services",
  Contact: "#contact",
  "About Me": "/about",
};
---

<nav
  class:list={[
    className,
    "place-items-center",
    "place-content-center",
    "md:gap-10",
    "lg:gap-20",
  ]}
  {...props}
>
  {
    Object.keys(links).map((title) => (
      <PeridotHeaderLink href={links[title]} class="font-serif-text text-xl">
        {title}
      </PeridotHeaderLink>
    ))
  }
</nav>
