---
import type { HTMLAttributes } from "astro/types";
import PeridotHeaderLink from "@components/header/PeridotHeaderLink.astro";

type Props = HTMLAttributes<"nav">;

const { class: className, ...props } = Astro.props;
const links: Record<string, string> = {
  Services: "/#services",
  Contact: "/#contact-form",
  "About Me": "/about",
};
---

<nav
  id="nav"
  class:list={[
    className,
    "max-w-screen",
    "place-items-center",
    "place-content-center",
    "md:gap-10",
    "lg:gap-20",
  ]}
  {...props}
>
  {
    Object.keys(links).map((title) => (
      <PeridotHeaderLink
        href={links[title]}
        class="font-serif-text w-full pr-2 text-center text-xl hover:bg-gray-100"
      >
        {title}
      </PeridotHeaderLink>
    ))
  }
</nav>
