---
import FlowerOpaque from "../images/FlowerOpaque.svg";
import VictoriaOrangeCircle from "../images/VictoriaOrangeCircle.svg";
---

<div
  class="grid grid-rows-1 grid-cols-1 overflow-hidden md:grid-cols-2 md:ml-30"
>
  <div class="grid grid-cols-3 grid-rows-1"> 
    <div class="col-1">
      <FlowerOpaque class="size-70 place-self-start -ml-2 -mt-10" />
    </div>
    <div class="size-40 col-2 place-self-center">
      <VictoriaOrangeCircle class="relative" />
    </div>
  </div>
  <div class="flex flex-col gap-5 mt-7 row-2 col-1">
    <h2 class="text-center font-serif-display text-4xl p-5">
      Hi, I am<br />Victoria Richards!
    </h2>

    <p class="font-kokoro text-center px-5 min-w-min max-w-fit">
      Everyone’s different, and I think therapy should reflect that. I work with
      people of all ages and backgrounds, and I show up as my real, authentic
      self in every session. When that connection clicks, the work we do
      together often leads to deep growth and meaningful change.
    </p>
    <div class="flex self-center-safe justify-center min-w-auto h-10 w-30 bg-red-400 rounded-xl m-6">
      <a class="place-self-center font-kokoro" href="#contact-form">Contact Me</a>
    </div>
  </div>
</div>
