---
import Location from "../images/Location.svg";

const officeLocation = "Ann Arbor Area";
const insurances = ["Blue Cross Blue Shield", "Aetna", "Priority Health"];
const privatePay: Record<string, string> = {
  Individual: "$160",
  Couples: "$210",
};
---

<div
  class="grid grid-cols-1 grid-rows-[20%_40%_40%] gap-x-2 gap-y-5 bg-[#EAEEB6] pb-10"
>
  <h1 id="services" class="font-serif-text mt-5 place-self-center text-xl">
    Services
  </h1>
  <div class="mx-3 rounded-md bg-white">
    <div class="m-5">
      <h2 class="font-serif-text py-2 text-2xl font-bold">
        In person & online sessions available
      </h2>
      <div class="flex flex-row py-2 text-xl">
        <Location class="-ml-1" />
        <p>{officeLocation}</p>
      </div>
      <p class="font-kokoro">
        While I work with a broad range of clients, my greatest experience is
        with couples, women, and young adults navigating life transitions or
        experiencing symptoms of anxiety and depression.
      </p>
    </div>
  </div>
  <div
    class="mx-3 grid grid-cols-[49%_2%_49%] grid-rows-subgrid justify-center rounded-md bg-white"
  >
    <div class="inline-grid gap-5 p-5 text-center">
      <h2 class="font-serif-text text-2xl">Insurances</h2>
      {insurances.map((insurance) => <p class="font-kokoro">{insurance}</p>)}
    </div>
    <div class="col-2 h-[80%] place-self-center border-l-1 border-black"></div>
    <div class="col-3 inline-grid gap-5 p-5 text-center">
      <h2 class="font-serif-text text-2xl">Private Pay</h2>
      {
        Object.keys(privatePay).map((pay) => (
          <p class="font-kokoro">
            {pay} - {privatePay[pay]}
          </p>
        ))
      }
    </div>
  </div>
</div>
