---
import "../styles/peridot.css";
import PeridotHeader from "@components/PeridotHeader.astro";
---

<!doctype html>
<html class="scroll-smooth" lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Peridot Therapy</title>
    <link rel="icon" type="image/x-icon" href="src/images/favicon.png" />
  </head>
  <body class="bg-white">
    <PeridotHeader />
    <slot />
  </body>
</html>
